/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {  
     -fx-background-image: url("../images/TGBUS.jpg");
     -fx-background-size: 120%;
     -fx-background-repeat: no-repeat    ;
}  

Label{
	-fx-font: 15px "fantasy";
}


TextArea {
 	   -fx-font: 20px "cursive";
       -fx-opacity:0.7;
   
} 




/**
 * -fx-font-family (defined in javafx.scene.text.Text)

syntax = <font-family>


The string name of the font family. An actual font family name available on the system can be used, or one of the following generic family names can be used: 
'serif' (e.g., Times) 
'sans-serif' (e.g., Helvetica) 
'cursive' (e.g., Zapf-Chancery) 
'fantasy' (e.g., Western) 
'monospace' (e.g., Courier) 
 
 “线”（例如，倍）
“sans-serif”（例如，黑体）
“草书”（例如，Zapf办公处）
“幻想”（例如，西方）
“等宽字体”（例如，快递）
 * 
 */





















