/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {  
     -fx-background-color: rgb(0,0,0)
} 
Label{
	-fx-font-size: 19PX;
	-fx-text-fill: rgb(255,255,0) ;
	-fx-text-overrun: word-ellipsis ;
}
#useful{
	-fx-font-size: 15PX;
	
}