/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {  
     -fx-background-color: rgb(199,238,206)
} 
Label{
	-fx-font-size: 19PX;
	-fx-text-fill: rgb(255,255,0) ;
	-fx-text-overrun: word-ellipsis ;
}
#useful{
	-fx-font-size: 15PX;
	
}
Button{
	-fx-background-color: red;
	-fx-pref-width: 40;
	-fx-border-width: 0;
}
GridPane{
	-fx-grid-lines-visible: true;
}